.header {
  padding: 16px 120px;
  z-index: 50;
  top: 0;
  background: white;
  position: sticky;
  .header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;

    form {
      input {
        padding: 16px 48px 16px 16px;
        color: var(--gray);
        background: var(--light);
        border: none;
        border-radius: 8px;
        margin-left: 12px;
        outline: none;
        transition: 0.6s all;
        &:focus {
          border-color: var(--light-gray);           // цвет бордера при фокусе
          box-shadow: 0 0 12px var(--light-gray); // мягкое свечение
          outline: none;
        }
      }
    }

    .header__links {
      display: flex;
      gap: 52px;

      .header__link {
        color: var(--light-gray);
        text-decoration: none;
        transition: 0.3s all;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        text-align: left;

        &:hover {
          color: var(--black);
        }
      }
    }

    .header__link-icons {
      display: flex;
      gap: 24px;

      .header__link {
        color: var(--light-gray);
        text-decoration: none;
        font-size: 22px;
        transition: 0.3s all;

        &:hover {
          color: var(--black);
        }
      }
    }

    .burger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 21px;
      cursor: pointer;
      z-index: 100;

      span {
        height: 2px;
        background: var(--black);
        border-radius: 1px;
        transition: 0.3s;
      }

      &.active {
        span:nth-child(1) {
          transform: rotate(45deg) translateY(12px);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: rotate(-45deg) translateY(-12px);
        }
      }
    }
  }
}
