.phone {
    margin-block: 80px;
    .phone__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            img {
                width: 380px;
                height: 480px;
            }
        }
        .right {
            .phone__title {
                font-size: 40px;
                font-weight: 700;
            }
            .phone__price {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                margin-top: 24px;
                font-size: 36px;
                font-weight: 500;
                .dis__price {
                    color: var(--light-gray);
                    text-decoration: line-through;
                    font-size: 30px;
                }
            }
            .memories {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                margin-top: 24px;
                .memory__select {
                    color: var(--light-gray);
                    border-color: var(--light-gray);
                }
            }
            .about__phone {
                margin-top: 24px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 16px;
                .about__card {
                    background: var(--light-gray2);
                    border: none;
                    width: 170px;
                    height: 60px;
                    border-radius: 7px;
                    padding: 16px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    .texts {
                        .haract {
                            color: rgba(167, 167, 167, 1);
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                            line-height: 12px;

                        }
                        .haract__value {
                            font-size: 14px;
                            font-weight: undefined;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                            color: rgba(78, 78, 78, 1);
                        }
                    }
                }

            }
            .more {
                margin-top: 24px;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 3%;
                text-align: left;
                span {
                    text-decoration: underline;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .btns {
                margin-top: 24px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                .wishlist {
                    transition: 0.3s all;
                    @include btn_up-animation
                }
                .toCard {
                    background: black;
                    color: white;
                    transition: 0.3s all;
                    @include btn_up-animation
                }

            }
        }
    }
}