.sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/bg.svg') center center/cover no-repeat;
    height: 480px;
    .sale__items {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sale__title {
            color: rgba(255, 255, 255, 1);
            font-size: 72px;
            font-weight: 100;
            line-height: 72px;
            letter-spacing: -1%;
            text-align: center;
            span {
                font-weight: 600;
            }
            .sale__subtitle {
                color: #787878;
                font-size: 16px;
                font-weight: 400;
                line-height: 32px;
                text-align: center;
            }
        }
    }
}