:root {
    --gray: rgba(101, 101, 101, 1);
    --light-gray: rgba(152, 152, 152, 1);
    --light: rgba(245, 245, 245, 1);
    --black: rgba(0, 0, 0, 1);
    --b-black: rgba(33, 28, 36, 1);
    --white: rgb(255, 255, 255);
    --light-gray2: rgb(234, 234, 234);
    --dark-gray: rgb(44, 44, 44);
}